{
	admin off
	auto_https off
	order coraza_waf first
}

:8080 {
	coraza_waf {
		include /templates/coraza-rules.conf
	}

	@apex host ${redirect_apex_domain}
	redir @apex https://${primary_www_domain}{uri} permanent

	header {
		-Server
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
	}

	root * /tmp/caddy-site
	file_server
}
