.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars
*.auto.tfvars
backend.hcl
/bootstrap/backend.tf
crash.log
crash.*.log
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tmp/
trash/
terraform.tfvars
*.auto.tfvars
notes/
