# subscription_id = "00000000-0000-0000-0000-000000000000"
# location        = "westus2"
# name_prefix     = "hello-nginx"
# container_image = "ghcr.io/coreruleset/coraza-crs:4.25.0-caddy-alpine-202604120304"
