**
!Dockerfile
!Caddyfile
!Caddyfile.no-geo
!config/
!config/geoip-policy.yaml
!.build/
!.build/.gitkeep
!.build/GeoLite2-Country.tar.gz
!public/
!public/index.html
!scripts/
!scripts/entrypoint.sh
!scripts/generate_geoip_policy.py
